/* top color = blue
    second color = red
    third color = yellow
    fourth color = green
    fifth color = purple
*/

/*Header CSS*/

/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Audiowide", sans-serif;
    --secondary-font: "Press Start 2P", cursive;
    --primary-color: #062c43; 
    --secondary-color: #054569;
    --tertiary-color: #5591a9;
    --highlight-color: #9ccddc;
    --highlight-color-light:#ced7e0; 
}

/* Apply global styling */
body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--highlight-color);
    margin: 0;
    padding: 0;
  }

#main-header {
    font-family: var(--primary-font);
    background-color: var(--tertiary-color);
    padding: 20px;
    border-bottom: 4px solid var(--secondary-color);
}

header > h1 {
    text-align: center;
}

/*CSS for all the buttons*/

.game-button {
    background-color: var(--primary-color);
    border-color: var(--highlight-color-secondary);
    color: var(--highlight-color-light)

}

.game-button:hover {
    background-color:var(--highlight-color-light);
    border-color: var(--highlight-color);
    color: var(--tertiary-color);
}

.question-button {

}

.question-button:hover {

}

.info-button {
    background-color:var(--highlight-color-light);
    border-color: var(--highlight-color);
    color: var(--tertiary-color);

}

.info-button:hover {
    background-color: var(--primary-color);
    border-color: var(--highlight-color-secondary);
    color: var(--highlight-color-light)

}

.submit-button {
    background-color: var(--primary-color);
    border-color: var(--highlight-color-secondary);
    color: var(--highlight-color-light)

}

.submit-button:hover {
    background-color:var(--highlight-color-light);
    border-color: var(--highlight-color);
    color: var(--tertiary-color);
    
}

.centred-button {
    align-self: center;
}

.btn {
    font-family: var(--secondary-font);
}
/*Main Body CSS*/

.main {
    display: flex;
    flex-direction: row;
    
}

#speech-bubble-strip {
    position: relative;
    width: 784px;
    height:200px;
}

#speech-bubble-strip img {
    width: 100%;
    height: 100%;
}

.speech-bubble {
    position: absolute;
    padding: 20px;
    top: 8%;
    right: 23%;
    font-family: var(--secondary-font);
    font-size: 0.8rem;
}

/* #game-a-text {
    font-size: .7rem;
}*/

.bubble {
    max-height: 200px;
}


#main-game-area {
   text-align: center;
   border: 4px solid var(--secondary-color);
   border-radius: 15px;
   background-color: var(--primary-color);
   box-shadow: 0 4px 10px var(--secondary-color);
   padding: 20px;
}

.game-strip {
  justify-content: space-evenly;
  display: flex;
  border: 2px solid var(--tertiary-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px var(--tertiary-color);
   
}

/*CSS effecting only Game A*/

#game-a-area {
    text-align: center;
}

#game-a-scores {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*CSS effecting only Game B*/

#game-b-area {
   text-align: center;
}

#game-b-scores {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#combined-scores {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}


/*This CSS controls the robot area (The right of the screen)*/

#robot {
    }

#robot-body {
    text-align: center;

}

#robot-body > img {
    max-width: 395px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--tertiary-color);
    /*max-height: 200px;*/
}

/*Footer CSS*/

footer {
   margin-top: 40px;
   text-align: center;
   background-color: var(--tertiary-color);
   padding: 20px;
   border-top: 4px solid var(--secondary-color);
   color: var(--highlight-color-light);
}

#footer-main {
    text-align: center;
    /*display: flex;
   /* flex-direction: row;*/
}

#full-rules {
   text-align: center;
    
}

#rules-box {
  border: 2px solid var(--tertiary-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px var(--primary-color);
}

#rules-box > div > h3 {
    font-family: var(--secondary-font);
}

#rules-box > div >  p {
    font-family: var(--primary-font);
}

.copyright {
    text-align: center;
}


/*important classes for JS*/

.active {
    border-style: dashed;
    border-color: white;
}

.hidden {
    display: none;
}

.secret {
    visibility:hidden;
    background-color: red;
}