/* top color = blue
    second color = red
    third color = yellow
    fourth color = green
    fifth color = purple
*/

/*Header CSS*/

#main-header {
    background-color: blue;
}

header > h1 {
    text-align: center;
}

/*Main Body CSS*/

.main {
    background-color: blue;
    display: flex;
    flex-direction: row;
    
}

.bubble {
    max-height: 200px;
    align-self: flex-end;
}


#main-game-area {
    background-color: red;
    text-align: center;
}

.game-strip {
    background-color: yellow;
    justify-content: space-evenly;
    display: flex;
    /*align-items: stretch;*/
}

/*CSS effecting only Game A*/

#game-a-area {
    background-color: green;
    text-align: center;
}

#game-a-scores {
    background-color: purple;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*CSS effecting only Game B*/

#game-b-area {
    background-color: green;
    text-align: center;
}

#game-b-scores {
    background-color: purple;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#combined-scores {
    background-color: green;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


/*This CSS controls the robot area (The right of the screen)*/

#robot {
    background-color: red;
    }

#robot-head {
    background-color: yellow;
    text-align: center;
}

#robot-body {
    background-color: yellow;
    text-align: center;

}

#robot-body > img {
    max-width: 449px;
    /*max-height: 200px;*/
}

/*Footer CSS*/

#footer-main {
    background-color: blue;
    text-align: center;
    /*display: flex;
   /* flex-direction: row;*/
}

#full-rules {
    background-color: red;
    text-align: center;
    
}

.revealed{
    display:none
}

.copyright {
    background-color: red;
    text-align: center;
}

